.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
*.iml
.idea/
.vscode/
.DS_Store
firebase_options.dart
/google-services.json
/ios/Runner/GoogleService-Info.plist
.env
